.header-wrap {
    height: 80px;

}

.header-name {}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 20px;
    padding-left: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    border-bottom: solid 1px gray;
    /* background-image: url(./anotherGrass.png);
    background-position: bottom;*/
    z-index: 99;
}

a {
    text-decoration: none;
}

.header>a {
    font-weight: bold;
    font-size: 35px;
    color: white;

}

.header>a:hover {
    animation: hoverBig;
    animation-duration: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes hoverBig {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}



input {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    border: solid 1.5px gray;
}

input:focus {
    border: solid 1.5px #3763c9;
}

button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.input-box {
    display: flex;
    align-items: center;
    position: relative;
    right: 170px;
}

.input-box>button {
    position: absolute;
    right: 2px;
}

.bg {
    background-image: url(./Football_field.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

.iframe-wrap {
    display: flex;
    justify-content: center;
}


iframe {
    background-color: white;
    width: 80%;
    border: solid 1px gray;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sliders-wrap {
    padding: 20px 40px 20px 40px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.slider {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.slider>button {
    font-size: 30px;
    color: white
}

.slider-wrap {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
}

.year {
    font-weight: bold;
    font-size: 35px;
}

.members {
    display: flex;
    justify-content: center;
}

.member {
    margin: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.member:hover {
    animation: hoverBig;
    animation-duration: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
}

.member-img {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 10px;
    object-fit: cover;
}

.member-name {

    text-align: center;
}

.hidden {
    display: none;
}